* {
  box-sizing: content-box;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  width: 80vw;
  font-size: 3rem;
  padding: 2em;
  display: grid;
  grid-template-columns: 50px 1fr 1fr;
  gap: 5px;
}

#hand2 {
  position: absolute;
  top: -200px;
  transform: rotate(180deg);
  transition: all 0.5s;
}

#hand1 {
  position: absolute;
  z-index: -1;
  left: -200px;
  top: 0px;
  transition: left 0.5s;
  opacity: 0;
}

#hand2.show {
  top: 0px
}

#hand1.show {
  left: -50px;
  opacity: 1;
}

#shapes {
  cursor: pointer;
}

span {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

div {
  text-align: center;
}

button {
  font-size: 2rem;
}

.play {
  position: relative;
  display: flex;
  align-items: end;
}

ol {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 1rem;
}

ol>li:last-child {
  margin-left: 24px;
  font-size: 3rem;
}

.selected {
  background-color: rgb(143, 98, 234);
}

.stopEvent {
  pointer-events: none;
}